Repository Jbranadev/JBSqlUtils, pull requests merged in 2024-09, with the labels that each got.

#317 Release 1.2.8.2
  CHANGELOG.md
  Readme.md
  pom.xml
  src/main/java/io/github/josecarlosbran/JBSqlUtils/DataBase/Get.java
  src/main/java/io/github/josecarlosbran/JBSqlUtils/DataBase/Methods_Conexion.java
  src/test/java/io/github/josecarlosbran/JBSqlUtils/JBSqlUtilsTestMySQL.java
Labels: bug, documentation, Release

#322 Release 1.2.9
  CHANGELOG.md
  Readme.md
  pom.xml
  src/main/java/io/github/josecarlosbran/JBSqlUtils/Adaptadores/VisibilitySerializableModel.java
  src/main/java/io/github/josecarlosbran/JBSqlUtils/DataBase/Execute.java
  src/main/java/io/github/josecarlosbran/JBSqlUtils/DataBase/Get.java
  src/main/java/io/github/josecarlosbran/JBSqlUtils/DataBase/Methods.java
  src/main/java/io/github/josecarlosbran/JBSqlUtils/DataBase/Methods_Conexion.java
  src/test/java/io/github/josecarlosbran/JBSqlUtils/JBSqlUtilsTestEnumerations.java
  src/test/java/io/github/josecarlosbran/JBSqlUtils/JBSqlUtilsTestGodDay.java
  src/test/java/io/github/josecarlosbran/JBSqlUtils/JBSqlUtilsTestMariaDB.java
  src/test/java/io/github/josecarlosbran/JBSqlUtils/JBSqlUtilsTestMySQL.java
  src/test/java/io/github/josecarlosbran/JBSqlUtils/JBSqlUtilsTestPostgreSQL.java
  src/test/java/io/github/josecarlosbran/JBSqlUtils/JBSqlUtilsTestSQLServer.java
  src/test/java/io/github/josecarlosbran/JBSqlUtils/JBSqlUtilsTestSQLite.java
  src/test/java/io/github/josecarlosbran/JBSqlUtils/JBSqlUtilsTestSadDay.java
  src/test/java/io/github/josecarlosbran/JBSqlUtils/JBSqlUtilsTestUtilities.java
Labels: documentation, dependencies, java, github_actions, ReformatCode, Release

#323 Release 1.2.9
  CHANGELOG.md
  src/main/java/io/github/josecarlosbran/JBSqlUtils/DataBase/Methods_Conexion.java
Labels: java, github_actions, ReformatCode, Release
